<section class="social-share">
  <h4><a href="https://github.com/infominer33/web-work/blob/master/{{ page.path }}" class="edit">Edit this page <i class="fa fa-pencil"></i></a></h4>

  <div class="social-share">
    <ul class="socialcount socialcount-small inline-list">
      <li class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook"><span class="count"><i class="fa fa-facebook-square"></i> Like</span></a></li>
      <li class="twitter"><a href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }}" title="Share on Twitter"><span class="count"><i class="fa fa-twitter-square"></i> Tweet</span></a></li>
      <li class="linkedin"><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url | url_encode }}" title="Share on LinkedIn"><span class="count"><i class="fa fa-linkedin-square"></i> Post</span></a></li>
      <li class="reddit"><a href="https://www.reddit.com/submit?url={{ page.url | relative_url }}&title={{ page.title }}" title="Share on Reddit"><span class="count"><i class="fa fa-reddit-square"></i> Share</span></a></li>
    </ul>
  </div>
  <p><img src="https://infominer.id/assets/img/1pLr.gif"/></p>
    <!-- Beginning of tippin.me Button -->
    <br/><p><div id="tippin-button" data-dest="infominer33"></div>
    <script src="https://tippin.me/buttons/tip.js" type="text/javascript"></script></p>
    <!-- End of tippin.me Button -->
  <table class="table table-bordered table-hover table-condensed">
      <thead>
      <tr>
        <th title="Field #1">Bitcoin</th>
        <th title="Field #2">DOGE</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><code>1A1DZfw4VgpHCgnMjnmfDnMjddKf8xdYbd</code></td>
        <td><code>DQKkzfJjqnXUD8Z7C3e84vKzvghPe9dXSa</code></td>
      </tr>
      <tr>
        <td><img src="https://imgur.com/yXLLm9Bl.png" width="150"></td>
        <td><img src="https://imgur.com/z316u0c.png" width="150"></td>
      </tr>
    </tbody>
  </table>  
</section>

